{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)$",
    "^next(.*)$",
    "^@mui/(.*)$",
    "^components/(.*)$",
    "^infrastructure/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
